<a href="https://colab.research.google.com/github/atifanindarahman/Deep-Learnig-Classifier-Model-Using-CNN-and-Google-Earth-Engine-Analysis-of-Multispectral-Images/blob/main/Nonwork_Trips_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [ ]:
data = pd.read_csv(file_path)

In [ ]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [ ]:
c= within_trips.groupby('origin_zone_name')['nonwork_0_10mi'].sum()

In [ ]:
entry_exit_trips = data[data['origin_zone_name'] != data['destination_zone_name']]

In [ ]:
a = entry_exit_trips.groupby('destination_zone_name')['nonwork_0_10mi'].sum()
b = entry_exit_trips.groupby('origin_zone_name')['nonwork_0_10mi'].sum()

In [ ]:
d=a+b+c

In [ ]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Nonwork Trips 0-10 Miles')).rename_axis('Zone').reset_index()

In [ ]:
print (data)

                                  Zone  Entering   Leaving     Within  \
0                      AK-NonMSA areas     14899     11451   81987453
1                 AL-NonMSA areas (NE)  10747558  10895542  235791933
2                 AL-NonMSA areas (NW)   3004126   3232236  102571226
3                 AL-NonMSA areas (SE)   1614995   1461030   43553506
4                 AL-NonMSA areas (SW)   4384098   4995517  191017988
..                                 ...       ...       ...        ...
521                    Yanceyville, NC    988048   1454558    6076958
522                   York-Hanover, PA  14184152  15604893  250885599
523  Youngstown-Warren-Boardman, OH-PA   7784663   7818381  330339289
524                      Yuba City, CA   1155357   1300441  127587929
525                           Yuma, AZ   3976224   2449308  160095678

     Nonwork Trips 0-10 Miles
0                    82013803
1                   257435033
2                   108807588
3                    46629531
4                   200397603
..                        ...
521                   8519564
522                 280674644
523                 345942333
524                 130043727
525                 166521210

[526 rows x 5 columns]